<<<<<<< HEAD
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>Properties</title>
</head>
=======
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>Properties</title>
</head>
>>>>>>> 44195f9cef3c5bc1477d4ea015f6c3089a38b195
