<!DOCTYPE html>
<html>
  <%- include('head'); -%>

  <body style="background-image : url('https://images.unsplash.com/photo-1464938050520-ef2270bb8ce8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60'); background-size:100%" >
      <form>
        <input type="text" name="id">
        <button type="submit">Login</button>
      </form>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script> // Log in
        $('form').on('submit', function(event) {
          const form = $(this);
          event.preventDefault();
          $.ajax({method: 'post', url: '/login', data: form.serialize()})
            .done(() => window.location.replace('/properties'))
            .fail(error => alert('Could not log in.'));
        })
      </script>
  </body>
</html>
