<header class="navbar navbar-expand navbar-dark bg-dark">
  <h1 class="navbar-brand">Manage Your Properties</h1>
  <nav class="navbar-nav ml-3">

  </nav>
  <nav class="navbar-nav ml-auto">
  <%_ if (admin) { -%>
    <a href="/logout" class="nav-item nav-link">Logout</a>
  <%_ } else { -%>
    <div class="md-form">
      <input placeholder="email" type="text" id="inputPlaceholderEx" class="form-control">
    </div>
    <a href="/login" class="nav-item nav-link">Login</a>
  <%_ } -%>
</nav>
</header>
