<header class="navbar navbar-expand navbar-dark bg-dark">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <nav  class="navbar-nav ml-3">
    <a href="/properties" class="nav-item nav-link">My properties</a>
  </nav>
  <nav  class="navbar-nav ml-3">
    <a href="/properties/new" class="nav-item nav-link">Create property</a>
  </nav>
  <nav  class="navbar-nav ml-3">
    <a href="/apartments/new" class="nav-item nav-link">Create apartment</a>
  </nav>
  <nav  class="navbar-nav ml-3">
    <a href="edit" class="nav-item nav-link">Edit</a>
  </nav>
  <nav class="navbar-nav ml-auto">
    <a href="/logout" class="nav-item nav-link">Logout</a>
  </nav>
</header>
