<header class="navbar navbar-expand navbar-dark bg-dark">
  <h1 class="navbar-brand">Properties</h1>
  <nav class="navbar-nav ml-3">
    <a href="/properties" class="nav-item nav-link <%= active === 'properties' ? 'active' : 'inactive' -%>">property</a>
    <a href="/apartments" class="nav-item nav-link <%= active === 'apartments' ? 'active' : 'inactive' -%>">apartments</a>
  </nav>
</header>
