<header class="navbar navbar-expand navbar-dark bg-dark">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <h1 class="navbar-brand">Manage Your Properties</h1>
  <nav class="navbar-nav ml-3">

  </nav>
  <nav class="navbar-nav ml-auto">
  <%_ if (admin) { -%>
    <a href="/logout" class="nav-item nav-link">Logout</a>
  <%_ } else { -%>
    <div class="md-form input-with-post-icon">
      <i class="fas fa-user input-prefix"></i>
      <input type="text" id="suffixInside" class="form-control">
      <label for="suffixInside">Example label </label>
    </div>
    <a href="/login" class="nav-item nav-link">Login</a>
  <%_ } -%>
</nav>
</header>
