<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <body>

    <!-- Default form login -->
    <form class="text-center border border-light p-5" id="create">

        <p class="h4 mb-4">Sign Up</p>

        <!-- Email -->
        <input type="text" name="_id" class="form-control mb-4" placeholder="E-mail">

        <!-- Password -->
        <input type="text" name = "name" class="form-control mb-4" placeholder="Full Name">


        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Sign Up</button>


    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      // Create a course
      $('#create').on('submit', function(event) {
        const form = $(this);
        event.preventDefault();
        $.ajax({method: 'post', url: '/users', data: form.serialize()})
          .done(id => window.location.replace('/'))
          .fail(error => alert(error.responseText));
      });
    </script>
  </body>
</html>
