<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar'); -%>
    <div class="container-fluid">
      <!-- Default form contact -->
      <form class="text-center border border-light p-5" id="addapp">
        <!-- Subject -->

        <p class="h4 mb-4">Add an apartment</p>
        <select name ="property" class="browser-default custom-select mb-4">
          <option value="" disabled>Choose Property</option>
          <%_ for (const prop of properties) { -%>
          <option value="<%=prop._id-%>"><%= prop.name-%></option>
          <%_ } -%>
        </select>

        <!-- Unit num -->
        <input type="text" name="u_num" class="form-control mb-4" placeholder="Unit num">
        <!-- Floor num -->
        <input type="text" name="floor" class="form-control mb-4" placeholder="Floor number">
        <!-- Square footage -->
        <input type="text" name="sqFoot" class="form-control mb-4" placeholder="Square Footage">
        <!-- Number of rooms -->
        <input type="text" name="n_rooms" class="form-control mb-4" placeholder="Number of Rooms">
        <!-- Number of bathrooms -->
        <input type="text" name="n_bathrooms" class="form-control mb-4" placeholder="Number of bathrooms">
        <!-- start date -->
        <input type="text" name="s_date" class="form-control mb-4" placeholder="Start date">
        <!-- end date -->
        <input type="text" name="e_date" class="form-control mb-4" placeholder="End date">
        <!-- furnished -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="furnished" value ="true" id="Furnished">
          <label class="form-check-label" for="Furnished">Furnished</label>
        </div>
        <!-- Laundry avalible -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="laundry" value ="true" id = "Laundry">
          <label class="form-check-label" for="Laundry">Laundry</label>
        </div>
        <!-- ac available -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="ac" value ="true" id = "AC">
          <label class="form-check-label" for="AC">AC</label>
        </div>
          <!-- Pets allowed -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="pets" value ="true" id = "Pets">
          <label class="form-check-label" for="Pets">Pets</label>
        </div>
          <!-- parking avalible -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="parking" value ="true" id = "Parking">
          <label class="form-check-label" for="Parking">Parking</label>
        </div>
          <!-- Listed -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="listed" value ="true" id="Listed">
          <label class="form-check-label" for="Listed">Listed</label>
        </div>


        <!-- submit button -->
        <button class="btn btn-info btn-block" type="submit">Submit</button>

      </form>
<!-- Default form contact -->
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      // Create an apartment
      $('#addapp').on('submit', function(event) {
        console.log("hello3");
        const form = $(this);
        event.preventDefault();
        $.ajax({method: 'post', url: '/apartments', data: form.serialize()})
          .done(id => window.location.replace(`/properties/${id}`))
          .fail(error => alert(error.responseText));
      });
    </script>
  </body>
</html>
