<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'properties'}); -%>
    <div class="container-fluid">
      <div class="row">

      </div>
    </div>
  </body>
</html>
