<form id="update" class="form">
  <input type="text" name="title" placeholder="Title" value="<%= property.title -%>" class="form-control form-control-lg font-weight-bold mb-1">
  <textarea name="location" placeholder="Location" rows="3" class="form-control mb-1"><%= property.location -%></textarea>
  <select multiple name="prereqs" size="<%= courseIDs.length -%>" class="form-control w-auto mb-1">
  </select>
  <button class="btn btn-primary">Save</button>
  <button id="delete" class="btn btn-primary">Delete</button>
</form>
