
<form id="update" class="form">

  <button id="addapp" class="btn btn-info"> Add Apartment </button>
  <button id="deleteapp" class="btn btn-info"> Delete Apartment </button>
  <button id="delete" class="btn btn-info">Delete Property</button>

</form>
