<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar'); -%>
    <div class="container-fluid">
      <!-- Default form contact -->
      <form class="text-center border border-light p-5" id="create">

        <p class="h4 mb-4">Create a Property</p>

        <input type="text" name="user" class="form-control mb-4" value="<%=user._id-%>">
        <!-- Name -->
        <input type="text" name="name" class="form-control mb-4" placeholder="Name/Nickname">

        <!-- address -->
        <input type="text" name="address" class="form-control mb-4" placeholder="Address">

        <!-- submit button -->
        <button class="btn btn-info btn-block" type="submit">Submit</button>

      </form>
<!-- Default form contact -->
    </div>
  </body>
</html>
