<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar'); -%>
    <div class="container-fluid">
      <!-- Default form contact -->
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Create a Property</p>

    <!-- Name -->
    <input type="text" id="nickname" class="form-control mb-4" placeholder="Name/Nickname">

    <!-- address -->
    <input type="text" id="address" class="form-control mb-4" placeholder="Address">

    <input type="number" id="n_aparment" class="form-control mb-4" placeholder="Number of Apartments">

    <!-- submit button -->
    <button class="btn btn-info btn-block" type="submit">Submit</button>

</form>
<!-- Default form contact -->
    </div>
  </body>
</html>
