<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
<<<<<<< HEAD
    <%- include('../navbar',{active: 'cp'}); -%>
=======
    <%- include('../navbar',{active1: 'cp'}); -%>
>>>>>>> 56aca18594430e1626785411b41caf2e95fd3700
    <div class="container-fluid">
      <!-- Default form contact -->
      <form class="text-center border border-light p-5" id="create">

        <p class="h4 mb-4">Create a Property</p>

        <input type="text" name="user" class="form-control mb-4" value="<%=user._id-%>" >
        <!-- Name -->
        <input type="text" name="name" class="form-control mb-4" placeholder="Name/Nickname">

        <!-- address -->
        <input type="text" name="address" class="form-control mb-4" placeholder="Address">

        <!-- submit button -->
        <button class="btn btn-info btn-block" type="submit">Submit</button>

      </form>
<!-- Default form contact -->
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      // Create a course
      $('#create').on('submit', function(event) {
        const form = $(this);
        event.preventDefault();
        $.ajax({method: 'post', url: '/properties', data: form.serialize()})
          .done(id => window.location.replace(`/properties/${id}`))
          .fail(error => alert(error.responseText));
      });
    </script>
  </body>
</html>
